*{
	text-decoration: none;
    margin: 0;     
    font-family: sans-serif;
}

body{
	background-color: #e8f0fe;
}

.navbar{
	background-image:linear-gradient(to bottom, #58ee51, #51eea8); font-family: calibri; padding: 10px; 
    overflow: hidden;
    top: 0;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4)
}

.navdiv{
	display: flex; align-items: center; justify-content: space-between;
}
		
.logo a{
	font-size: 35px; font-weight: 600; color: white;
}
		
li{
	list-style: none; display: inline-block;
}

li a{
	color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    position: relative;
}
.logo a:hover{
    color: #ffffff;
}
a:hover{
    color:#252627;
    transform: translateY(-100px); 
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}

header{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: bottom;
    color: #e8f0fe;
    font-size: 150px;
    line-height: 500px;
    background-image: linear-gradient(#51eea8,  #58ee51);
    height: 350px;
}

header h1{
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.flex-container {
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
    text-align: center;
    margin: 50px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.flex-item1{
    border-radius: 10px;
    background-image: linear-gradient(45deg, #58ee51, #51eea8);
    padding: 30px;
    flex: 50%;
    margin: 20px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    border: 20px;
}

.flex-item2{
    border-radius: 10px;
    background-image: linear-gradient(45deg, #51eea8, #58ee51);
    padding: 30px;
    flex: 50%;
    margin: 20px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.flex-item3{
    flex: 50%;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #58ee51, #51eea8);
    padding: 30px;
    margin: 20px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

hr{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border: 20px;
}

.footer {
    padding: 10px;
    left: 0;
    bottom: 0;
    background-color:#58ee51;
    color: white;
    text-align: center;
}
